body {
    margin: 0;
    background-color: rgb(34, 11, 62);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-weight: bold;
    user-select: none;
}

.content {
    min-height: 70vh;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 300px;
    height: auto;
    padding: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-btn {
    border: 0px;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(
        150deg,
        #dbb961 16.65%,
        #f2603e 50.78%,
        #b92136 84.58%
    );
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
}

.main-btn:hover {
    background: linear-gradient(
        150deg,
        #43e6b1 16.65%,
        #cb3ef2 50.78%,
        #702ace 84.58%
    );
}

.main-btn:active {
    box-shadow: 5px 5px 20px rgba(154, 11, 237, 0.788),
        -5px -5px 20px rgb(128, 255, 99);
}

.welcome-btn {
    height: 90px;
    width: 250px;
    /* border-radius: 20px; */
    border-radius: 45px;
}

.moder-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    gap: 10px;
}
.moder-btns-mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.moder-btn {
    height: 65px;
    width: 181px;
    border: 0px;
    border-radius: 33px;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 2px;
}
.moder-btn img {
    height: 30px;
}
.moder-btn-mini {
    height: 60px;
    width: 60px;
    border: 0px;
    border-radius: 33px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.1s ease;
    cursor: pointer;
}
.moder-btn-mini img {
    height: 40px;
}

.moder-btn:hover {
    background: linear-gradient(
        150deg,
        #43e6b1 16.65%,
        #cb3ef2 50.78%,
        #702ace 84.58%
    );
}
.moder-btn-mini:hover {
    background: linear-gradient(
        150deg,
        #43e6b1 16.65%,
        #cb3ef2 50.78%,
        #702ace 84.58%
    );
}

.moder-btn:active {
    box-shadow: 5px 5px 20px rgba(154, 11, 237, 0.788),
        -5px -5px 20px rgb(128, 255, 99);
}
.moder-btn-mini:active {
    box-shadow: 5px 5px 20px rgba(154, 11, 237, 0.788),
        -5px -5px 20px rgb(128, 255, 99);
}

.approve-btn {
    background: linear-gradient(
        150deg,
        #71efc6 16.65%,
        #43e6b1 50.78%,
        #077752 84.58%
    );
}

.reject-btn {
    background: linear-gradient(
        150deg,
        #dbb961 16.65%,
        #f2603e 50.78%,
        #b92136 84.58%
    );
}

.edit-btn {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    color: whitesmoke;
    cursor: pointer;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}
.header h1 {
    margin: 0;
    align-self: center;
}

.moder-header {
    display: flex;
    width: 100%;
    justify-items: start;
    margin-top: 10px;
}
.moder-header h1 {
    margin: 0;
    align-self: center;
}

.header-btn {
    height: 50px;
    width: 50px;
    border: 0px;
    cursor: pointer;
}

.header-btn img {
    height: 50px;
    width: 50px;
}

.left-btn {
    margin-left: 10px;
}

.right-btn {
    margin-right: 10px;
}

.ad-form h3 {
    font-size: 32px;
}

.input-block {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}
.input-block input {
    width: 266px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    border-radius: 23px;
    border: none;
    margin-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
input::placeholder {
    color: grey;
}

.error-text {
    font-size: 16px;
    color: red;
    margin: 3px;
    width: 300px;
}

.form-btn {
    margin-top: 15px;
    width: 160px;
    height: 65px;
    border-radius: 35px;
}

.moderator-btn {
    height: 65px;
    width: 342px;
    border-radius: 35px;
    /* padding-left: 30px; */
    text-align: center;
    position: fixed;
    bottom: 20px;
}

.slide-space {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

.toggle {
    display: flex;
    justify-self: center;
}
.toggle label {
    height: 44px;
}

.toggle-states {
    align-items: center;
    position: relative;
    display: inline-block;
    padding: 2px;
    width: 338px;
    height: 40px;
    border-radius: 22px;
    background-color: #43e6b1;
    box-shadow: inset 0px 0px 20px 0px #373737;
    cursor: pointer;
}

.double-toggle-checkbox {
    display: none;
}

.double-toggle-checkbox:checked ~ .double-toggle-key {
    transform: translateX(170px);
}

.double-toggle-key {
    position: absolute;
    width: 168px;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(
        150deg,
        #dbb961 16.65%,
        #f2603e 50.78%,
        #b92136 84.58%
    );
    transition: transform 0.3s;
}

.point-state {
    left: 0px;
    align-self: start;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 158px;
    height: 28px;
    padding: 6px;
    font-size: 24px;
    z-index: 1;
}

.comment-state {
    right: 2px;
    align-self: end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 158px;
    height: 28px;
    padding: 6px;
    font-size: 24px;
    z-index: 1;
}

.tripple-toggle-key {
    position: absolute;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(
        150deg,
        #dbb961 16.65%,
        #f2603e 50.78%,
        #b92136 84.58%
    );
    transition: transform 0.3s;
    cursor: pointer;
}

.waiting-toggle {
    margin-left: 114px;
}

.reject-toggle {
    right: 2px;
}

.approve-toggle:active {
    visibility: visible;
}
.approve-toggle:active ~ .waiting-toggle {
    visibility: hidden;
}
.approve-toggle:active ~ .reject-toggle {
    visibility: hidden;
}

.waiting-toggle:active {
    visibility: visible;
}
.waiting-toggle:active ~ .approve-toggle {
    visibility: hidden;
}
.waiting-toggle:active ~ .reject-toggle {
    visibility: hidden;
}

.reject-toggle:active {
    visibility: visible;
}
.reject-toggle:active ~ .approve-toggle {
    visibility: hidden;
}
.reject-toggle:active ~ .waiting-toggle {
    visibility: hidden;
}

.approve-state {
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 6px;
    font-size: 24px;
    z-index: 1;
}

.waiting-state {
    left: 85px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 158px;
    height: 28px;
    padding: 6px;
    font-size: 24px;
    z-index: 1;
}

.reject-state {
    right: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100px;
    height: 28px;
    padding: 6px;
    font-size: 24px;
    z-index: 1;
}

.content-list {
    justify-self: center;
    margin-top: 20px;
    width: 342px;
    height: 296px;
    border-radius: 22px 22px 20px 20px;
    background-color: #502683;
}
