html,
body {
    background-color: rgb(34, 11, 62);
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

#map {
    height: 100%;
    width: 100%;
    background: rgb(34, 11, 62);
}

.interface {
    position: absolute;
    z-index: 1000;
}

.top-interface {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.interface-btn {
    height: 40px;
    width: 40px;
    border: 0px;
    cursor: pointer;
}

.interface-btn img {
    height: 40px;
    width: 40px;
}

.left-btn {
    margin-left: 20px;
}

.right-btn {
    margin-right: 20px;
}

.bottom-interface {
    position: absolute;
    z-index: 1000;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    border: 0;
    cursor: pointer;
}
.bottom-interface img {
    height: 60px;
    width: 60px;
}

#confirmBtn {
    height: 80px;
    width: 80px;
}
#confirmBtn img {
    height: 80px;
    width: 80px;
}

.search-bar {
    width: 400px;
    height: 45px;
    position: relative; /* Создаём контейнер для позиции кнопки */
    display: inline-block;
    border: none;
}

@media (max-width: 740px) {
    .search-bar {
        width: 170px; /* Ширина для мобильных устройств */
    }
}

.search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    color: rgb(70, 70, 70);
    padding-left: 15px;
    padding-right: 55px;
}
.search input::placeholder {
    color: gray;
}

.search-btn {
    height: 45px;
    width: 45px;
    border-radius: 25px;
    border: none;
    padding: 0;
    position: absolute; /* Размещаем кнопку внутри контейнера */
    right: 0px; /* Расстояние от правого края */
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%);
    cursor: pointer;
}
.search-btn img {
    height: 45px;
    width: 45px;
}
